{% extends "blog/base_entries.html" %}
{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}
{% block content %}
<h2>{{ object.title }}</h2>
{{ object.body_html|safe }}
<p>This is an entry posted to my blog on
{{ object.pub_date|date:"F j, Y" }}.</p>
{% endblock %}
{% block comments %}
	<h2> The Comments </h2>
	{% load comments %}
	{% get_comment_count for blog.entry object.id as comment_conunt %}
	{% if comment_conunt %}
		sum to {{ comment_conunt }} comments.
		{% render_comment_list for object %}
	{% else %}
		no comments.
	{% endif %}
	{% get_comment_form for blog.entry object.id as comment_form %}
	<br/>
	<input  id="a_btn" type="button" value="添加留言" onClick="this.style.display='none';document.getElementById('comment_box').style.display='block';">
	<div id="comment_box" style="display:none;" >
	
	<input type="button" value="关闭留言" onClick="document.getElementById('comment_box').style.display='none';document.getElementById('a_btn').style.display='block';">
	
	<table style="width:50%;background: none repeat scroll 0 0 #EEEEEE;">
		<form action="{% comment_form_target %}" method="post">
		{% csrf_token %}
		{{ comment_form }}
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" value="Post">
				<input type="submit" name="preview" value="Preview">
			</td>
		</tr>
		</form>
	</table>
	</div>
{% endblock %}
