<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>iBlog:{% block title%} {% endblock %} </title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/global.css" media="screen"/>
	</head>
	<body >
		
		<div id="main-box" class="mainBox">
			<div id="content" class="content">
				{% block content %}
				{% endblock %}
			</div>
                         <div id="header" class="header">
				<h1 id="branding">My webblog</h1>
				
		</div>
			<div id="sider" class="sider">
				<h2>Navigation</h2>
				<ul id="main-nav">
						<a href="/feeds/recent/">Rss Feed</a>
					<li id="main-nav-entries">
						<a href="/entry/">Entries</a>
					</li>
					<li id="mian-nav-links">
						<a href="/link/">Links</a>
					</li>
					<li id="main-nav-categories">
						<a href="/category/">Categories</a>
					</li>
					<li id="mian-nav-tags">
						<a href="/tag/">Tags</a>
					</li>
				</ul>
				<h2>What is this?</h2>
				{% block whatis %}{% endblock %}
				<h2>The lastest entries </h2>
				{% load blog_tags %}
				{% get_lastest_entries %}
				{% block comments %}
				{% endblock %}
		</div>
	</div>
	<div id="clear_box" class="clear"></div>
	<div id="footer" class="footer">
		 <p> Thanks for visting my site.Valid <a href="#">CSS</a> &amp; <a href="#">XHTML</a><br/>
			Designed by <a href="#" >ghh</a>
			Tel:+086 029 84706459. <br/>
			 Copyright(c)2011-2013.</p>
	</div>
	</body>
</html>
		
