<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>iBlog:{% block title%} {% endblock %} </title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/global.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/pygments.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/thickbox.css" />
		<link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico"/>
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/thickbox-compressed.js"></script>
	</head>
	<body >
		
		<div id="main-box" class="mainBox">
            <div id="header" class="header">
				<h1 id="branding"  ><a href="/">My webblog</a></h1>
	        	</div>
			<div id="content" class="content">
				{% block content %}
				{% endblock %}
			</div>
			<div id="sider" class="sider">
				<h2>Navigation</h2>
				<ul id="main-nav">
						
					{% if user.is_authentitcated %}
						 welcome {{ user.userame }} (<a href="/accounts/logout/">注销</a>)|
				    {% else %}
						{% include "login.html" %}|{% include  "register.html" %}|
					{% endif %}	
						<a href="/feeds/recent/">Rss Feed</a> |
					
					<div class="my-hr"></div>
					
					<li id="main-nav-index">
						<a href="/">首页</a>
					</li>
					<li id="main-nav-entries">
						<a href="/entry/">日志</a>
					</li>
					<li id="main-nav-categories">
						<a href="/category/">日志分类</a>
					</li>
					<li id="mian-nav-tags">
						<a href="/tag/">日志标签</a>
					</li>
					<li id="mian-nav-snippets">
						<a href="/snippet/">源代码</a>
					</li>

				</ul>
				<h2>What is this?</h2>
				{% block whatis %}{% endblock %}
				<h2>The lastest entries </h2>
				{% load blog_tags %}
				{% get_lastest_entries %}
				{% block comments %}
				{% endblock %}
		</div>
	</div>
	<div id="clear_box" class="clear"></div>
	<div id="footer" class="footer">
		 <p> Thanks for visting my site.Valid <a href="#">CSS</a> &amp; <a href="#">XHTML</a><br/>
			Designed by <a href="#" >ghh</a>
			Tel:+086 029 84706459. <br/>
			 Copyright(c)2011-2013.</p>
	</div>
	</body>
</html>
		
